/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
/* Optional: Makes the sample page fill the window. */
	html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

div.infowindow {
	max-height:250px;
	overflow-y:auto;
}

span:hover {
	cursor: pointer;
}
